body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #009472;
    margin-top: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.err {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.container {
    width: 100%;
    height: auto;
}

.details-section {
    max-width: 250px;
    margin: 1rem auto;
    padding: 2rem 0;
}

.html-code textarea {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #009472;
    box-shadow: 0px 2px 5px 0px #009472;
}

.html-code {
    padding: 50px;
}

.field-set input,
.html-code input {
    padding: 0.75rem 1.5rem;
    margin: 0.25rem 0;
    height: auto;
    overflow: hidden;
}
